.container {
  width: 950px;
  background-color: silver;
  margin: 0px auto;
  padding: 15px;
}

.top-nav {
  height: 150px;
  background-color: green;
}
.side-nav {
  height: 300px;
  width: 200px;
  background-color: blue;
  display: inline-block;
  margin: 15px 15px 15px 0px;
}

.main {
  height: 400px;
  width: 720px;
  background-color: red;
  padding: 15px;
  margin: 15px 0px 0px 0px;
  display: inline-block;
  vertical-align: top;
}

.sub-content {
  height: 200px;
  width: 200px;
  background-color: yellow;
  display: inline-block;
  margin: 0px 15px 10px 0px;
}

#advertisement {
  height: 120px;
  width: 630px;
  background-color: purple;
  margin: 15px 0px 0px 0px;
}

.row {
  display: flex;
}
